extends ../layouts/admin.pug

block container-inner
    - const rollDisplayNames = {'AssociateMember' : '준회원', 'RegularMember' : '정회원', 'HonoraryMember' : '명예회원', 'Explusion' : '제적', 'PermanentExplusion' : '제명'}
    - const schoolRegistrationDisplayNames = {'Enrolled' : '재학', 'LeaveOfAbsence' : '휴학', 'Graduated' : '졸업', 'Expelled' : '제적'}
    h1.title 회원명부
    h2.subtitle 회원명부입니다.
    .box
        form(method="POST", enctype="application/x-www-form-urlencoded")
            - searchInfo = Object.assign({query_type: null, query: '', rolls: [], schoolRegistration: []}, searchInfo);
            .field.is-horizontal
                .field-label.is-normal
                    label.label 검색어
                .field-body
                    .field.has-addons
                        span.control
                            .select
                                select(name="query_type")
                                    option(value="name", selected= searchInfo.query_type === "name") 성명
                                    option(value="studentId", selected= searchInfo.query_type === "studentId") 학번
                                    option(value="department", selected= searchInfo.query_type === "department") 학과
                                    option(value="phoneNumber", selected= searchInfo.query_type === "phoneNumber") 전화번호
                                    option(value="userId", selected= searchInfo.query_type === "userId") 계정 ID
                        p.control.is-expanded
                            input.input(type="input", name="query", value= searchInfo.query)
            .field.is-horizontal
                .field-label
                    label.label 명부
                .field-body
                    .field.is-narrow
                        .control
                            each displayName, name in rollDisplayNames
                                label.checkbox
                                    input(name="rolls", type="checkbox", value=name, checked= searchInfo.rolls.includes(name))
                                    | &nbsp;#{displayName}
                                |&nbsp;
            .field.is-horizontal
                .field-label
                    label.label 학적
                .field-body
                    .field.is-narrow
                        .control
                            each displayName, status in schoolRegistrationDisplayNames
                                label.checkbox
                                    input(name="schoolRegistration", type="checkbox", value=status, checked = searchInfo.schoolRegistration.includes(status))
                                    | &nbsp;#{displayName}
                                |&nbsp;
            .field.is-horizontal
                .field-label
                .field-body
                    .field
                        .control
                            button.button.is-primary(type="submit") 검색
    .table-container
        table.table.is-striped.is-fullwidth
            thead
                tr
                    th 명부
                    th 성명
                    th 학적
                    th 학번
                    th 학과
                    th 전화번호
                    th 계정 ID
                    th 수정
            tbody
                for i in roll
                    tr
                        td= rollDisplayNames[i.rollType]
                        td= i.member.name
                        td= schoolRegistrationDisplayNames[i.schoolRegistration]
                        td= i.member.studentId
                        td= i.member.department
                        td= i.member.phoneNumber
                        td= i.member.user ? i.member.user.id : ''
                        td
                            a(href="/admin/roll/update/" + i.memberId)
                                button.button.is-small 수정